<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="WindowsApplication1.Properties.Settings.FAD" connectionString="Data Source=westland.demon.nl;Initial Catalog=FlexAccess;Persist Security Info=True;User ID=FlexAccess;Password=schoenzool"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>